# 腰部关节CAN
SUBSYSTEM=="net", KERNELS=="*-7:1.0", NAME="can_waist", GROUP="plugdev"
SUBSYSTEM=="net", KERNELS=="*-8:1.0", NAME="can_car", GROUP="plugdev"
SUBSYSTEM=="net", KERNELS=="*-5.3:1.0", NAME="can_piper1", GROUP="plugdev"
SUBSYSTEM=="net", KERNELS=="*-5.4:1.0", NAME="can_piper2", GROUP="plugdev"
SUBSYSTEM=="net", KERNELS=="*-5.1.2:1.0", NAME="can_hand1", GROUP="plugdev"
SUBSYSTEM=="net", KERNELS=="*-5.1.1:1.0", NAME="can_hand2", GROUP="plugdev"

SUBSYSTEM=="tty", KERNELS=="*-5.1.3:1.0", SYMLINK+="rs422_ft1", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", KERNELS=="*-5.1.4:1.0", SYMLINK+="rs422_ft2", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", KERNELS=="*-5.2:1.0", SYMLINK+="rs485_servo", GROUP="dialout", MODE="0666"
