<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="esrobo_waist_with_head">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00012944164455253 -6.22723427114169E-05 -0.0040271420328129"
        rpy="0 0 0" />
      <mass
        value="21.7638613943257" />
      <inertia
        ixx="0.454081742173464"
        ixy="1.28167250078841E-11"
        ixz="-7.47987584093224E-08"
        iyy="0.895403122553941"
        iyz="1.11445829124319E-10"
        izz="1.34925284828622" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.00109627025871673 0.000183356751178587 0.036691204506678"
        rpy="0 0 0" />
      <mass
        value="0.107757812286884" />
      <inertia
        ixx="0.000114594535776428"
        ixy="-4.46886769547332E-07"
        ixz="3.062202763908E-07"
        iyy="0.000116461362113387"
        iyz="8.53460714901329E-09"
        izz="0.000212642925491531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.299141092446627 -0.00804855452219633 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_base">
    <inertial>
      <origin
        xyz="5.74354334004212E-06 0.0415941681094265 0.00888296360321353"
        rpy="0 0 0" />
      <mass
        value="1.2946424823519" />
      <inertia
        ixx="0.00988326066506698"
        ixy="-7.55814217124132E-08"
        ixz="5.42274064754992E-07"
        iyy="0.0124431832125947"
        iyz="-0.00102062149082876"
        izz="0.00658734084893131" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_baseJoint"
    type="fixed">
    <origin
      xyz="-0.15642 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_link1">
    <inertial>
      <origin
        xyz="0.00051654243980348 0.123998463214463 0.0255445311920045"
        rpy="0 0 0" />
      <mass
        value="2.6161640614807" />
      <inertia
        ixx="0.0531693789000188"
        ixy="-0.000149293634003275"
        ixz="-1.73818050722807E-05"
        iyy="0.01712174915631"
        iyz="-0.00417798715830039"
        izz="0.0413433881632305" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint1"
    type="revolute">
    <origin
      xyz="0 0.085004 -0.038804"
      rpy="0 0 0" />
    <parent
      link="waist_base" />
    <child
      link="waist_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_link2">
    <inertial>
      <origin
        xyz="0.00027645368158602 0.115617426784295 0.00641703247261108"
        rpy="0 0 0" />
      <mass
        value="2.01092959225819" />
      <inertia
        ixx="0.038745673958895"
        ixy="-7.93834409693271E-05"
        ixz="-6.03351978096232E-06"
        iyy="0.00601594119878968"
        iyz="-0.00249807245898995"
        izz="0.0365983543759957" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint2"
    type="revolute">
    <origin
      xyz="0.0014113 0.33999 0.028215"
      rpy="0 0 0" />
    <parent
      link="waist_link1" />
    <child
      link="waist_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_link3">
    <inertial>
      <origin
        xyz="-0.00230171535637425 0.284729690037247 0.0133442227879418"
        rpy="0 0 0" />
      <mass
        value="7.46035263489036" />
      <inertia
        ixx="0.0915634195376429"
        ixy="0.00279979142983046"
        ixz="0.00324538431984484"
        iyy="0.0540817966652998"
        iyz="-0.00173986009603366"
        izz="0.068148647006873" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint3"
    type="revolute">
    <origin
      xyz="0.00082778 0.34 0"
      rpy="0 0 0" />
    <parent
      link="waist_link2" />
    <child
      link="waist_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftArm_link">
    <inertial>
      <origin
        xyz="0.0013462564935911 -0.20412558171511 -0.115233157081514"
        rpy="0 0 0" />
      <mass
        value="0.900253813427799" />
      <inertia
        ixx="0.00123043106952152"
        ixy="-3.99068453182813E-05"
        ixz="1.05004800194408E-06"
        iyy="0.000460828759765276"
        iyz="-7.32177083300114E-06"
        izz="0.00112927966858661" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftArm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftArm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftArm_joint"
    type="revolute">
    <origin
      xyz="0.0076949 0.42752 -0.086398"
      rpy="0 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="leftArm_link" />
    <axis
      xyz="-0.0016361 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftSensor_link">
    <inertial>
      <origin
        xyz="0.0290897275635817 -0.0391723252917062 0.000257031991900136"
        rpy="0 0 0" />
      <mass
        value="0.254777372478428" />
      <inertia
        ixx="0.00011272201620718"
        ixy="2.28684953755612E-07"
        ixz="-1.25670676105187E-07"
        iyy="0.000234682185717791"
        iyz="-3.13265306010448E-07"
        izz="0.000152969661912388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftSensor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftSensor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftSensor_joint"
    type="fixed">
    <origin
      xyz="-0.0012639 -0.613 -0.1381"
      rpy="0 0 0" />
    <parent
      link="leftArm_link" />
    <child
      link="leftSensor_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rightArm_link">
    <inertial>
      <origin
        xyz="-0.00233853532680905 -0.204116893019419 0.115233095247331"
        rpy="0 0 0" />
      <mass
        value="0.900257809789524" />
      <inertia
        ixx="0.00123079920662264"
        ixy="3.61713957415206E-05"
        ixz="1.08477457228899E-06"
        iyy="0.00046047795220906"
        iyz="7.31985843623512E-06"
        izz="0.00112927645753683" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightArm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightArm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightArm_joint"
    type="revolute">
    <origin
      xyz="0.0073775 0.42752 0.1076"
      rpy="0 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="rightArm_link" />
    <axis
      xyz="0.0016361 0 -1" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightSensor_link">
    <inertial>
      <origin
        xyz="0.0310964836861434 -0.0407631172972753 0.000274739563998858"
        rpy="0 0 0" />
      <mass
        value="0.238356407740794" />
      <inertia
        ixx="0.000109358451523035"
        ixy="2.20927734350434E-07"
        ixz="-1.25670676106778E-07"
        iyy="0.000228126842592842"
        iyz="-3.13265306009478E-07"
        izz="0.000149606116081087" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightSensor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightSensor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightSensor_joint"
    type="fixed">
    <origin
      xyz="-0.0017158 -0.613 0.1381"
      rpy="0 0 0" />
    <parent
      link="rightArm_link" />
    <child
      link="rightSensor_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="head_link1">
    <inertial>
      <origin
        xyz="4.94085832321023E-05 -2.06584882667948E-05 0.0209237441027506"
        rpy="0 0 0" />
      <mass
        value="0.053525220001833" />
      <inertia
        ixx="1.40780023634754E-05"
        ixy="-4.22327563356864E-09"
        ixz="-1.41947069700493E-08"
        iyy="1.14772108691464E-05"
        iyz="1.23784522924005E-08"
        izz="8.88001319149579E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint1"
    type="revolute">
    <origin
      xyz="0.0012661 0.5221 0.010591"
      rpy="-1.5708 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="head_link1" />
    <axis
      xyz="0.0024304 0 1" />
    <limit
      lower="0"
      upper="6.28"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_link2">
    <inertial>
      <origin
        xyz="0.00912892738602133 0.0641498701976961 -0.0203712084529538"
        rpy="0 0 0" />
      <mass
        value="0.256259573813189" />
      <inertia
        ixx="0.000360273243790157"
        ixy="7.02823357186691E-06"
        ixz="3.40777772006545E-06"
        iyy="0.000325101173462247"
        iyz="-7.79023970291812E-07"
        izz="6.78023614881646E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint2"
    type="revolute">
    <origin
      xyz="5.1313E-05 -0.021 0.03525"
      rpy="1.5708 0 0" />
    <parent
      link="head_link1" />
    <child
      link="head_link2" />
    <axis
      xyz="-0.0016361 0 1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
</robot>