<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="esrobo_waist_with_head">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000129441397167085 -6.22722892037464E-05 -0.00402714196093296"
        rpy="0 0 0" />
      <mass
        value="21.7638613943256" />
      <inertia
        ixx="0.454081742173464"
        ixy="1.28167222825801E-11"
        ixz="-7.47987584093224E-08"
        iyy="0.895403122553941"
        iyz="1.11445825179406E-10"
        izz="1.34925284828622" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.00109627025871695 0.000183356751178587 0.0366912045066785"
        rpy="0 0 0" />
      <mass
        value="0.107757812286884" />
      <inertia
        ixx="0.000114594535776428"
        ixy="-4.4688676954733E-07"
        ixz="3.06220276390766E-07"
        iyy="0.000116461362113387"
        iyz="8.53460714901472E-09"
        izz="0.000212642925491531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.29914 -0.0080486 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_base">
    <inertial>
      <origin
        xyz="5.74354333826577E-06 0.0415941681094107 0.00888296360321766"
        rpy="0 0 0" />
      <mass
        value="1.2946424823513" />
      <inertia
        ixx="0.00988326066505988"
        ixy="-7.55814216293633E-08"
        ixz="5.42274064763639E-07"
        iyy="0.0124431832125879"
        iyz="-0.00102062149082877"
        izz="0.00658734084893035" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_baseJoint"
    type="fixed">
    <origin
      xyz="-0.15642 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_link1">
    <inertial>
      <origin
        xyz="0.000516545014009218 0.123998452250287 0.0255445430136935"
        rpy="0 0 0" />
      <mass
        value="2.61616445921771" />
      <inertia
        ixx="0.0531693840366685"
        ixy="-0.000149293069703163"
        ixz="-1.73824660122067E-05"
        iyy="0.0171217520499665"
        iyz="-0.00417798469628159"
        izz="0.041343390763757" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint1"
    type="revolute">
    <origin
      xyz="0 0.085004 -0.038804"
      rpy="0 0 0" />
    <parent
      link="waist_base" />
    <child
      link="waist_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_link2">
    <inertial>
      <origin
        xyz="0.00027645368158602 0.115617426784295 0.00641703247261105"
        rpy="0 0 0" />
      <mass
        value="2.01092959225819" />
      <inertia
        ixx="0.038745673958895"
        ixy="-7.93834409693227E-05"
        ixz="-6.03351978096313E-06"
        iyy="0.00601594119878968"
        iyz="-0.00249807245898995"
        izz="0.0365983543759957" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint2"
    type="revolute">
    <origin
      xyz="0.0014113 0.33999 0.028215"
      rpy="0 0 0" />
    <parent
      link="waist_link1" />
    <child
      link="waist_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_link3">
    <inertial>
      <origin
        xyz="-0.00230171535637425 0.284729690037248 0.0133442227879417"
        rpy="0 0 0" />
      <mass
        value="7.46035263489037" />
      <inertia
        ixx="0.091563419537643"
        ixy="0.00279979142983045"
        ixz="0.00324538431984483"
        iyy="0.0540817966652999"
        iyz="-0.00173986009603368"
        izz="0.0681486470068731" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint3"
    type="revolute">
    <origin
      xyz="0.00082778 0.34 0"
      rpy="0 0 0" />
    <parent
      link="waist_link2" />
    <child
      link="waist_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftArm_link">
    <inertial>
      <origin
        xyz="0.00134625677376565 -0.204125580583649 -0.115233157189742"
        rpy="0 0 0" />
      <mass
        value="0.900253820880401" />
      <inertia
        ixx="0.00123043108725403"
        ixy="-3.99068485092422E-05"
        ixz="1.05004750551672E-06"
        iyy="0.000460828760779838"
        iyz="-7.32177349427875E-06"
        izz="0.00112927968651079" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftArm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftArm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftArm_joint"
    type="revolute">
    <origin
      xyz="0.0076949 0.42752 -0.086398"
      rpy="0 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="leftArm_link" />
    <axis
      xyz="-0.0016361 0 1" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftSensor_link">
    <inertial>
      <origin
        xyz="0.029089727563582 -0.0391723252917056 0.000257031991900303"
        rpy="0 0 0" />
      <mass
        value="0.254777372478428" />
      <inertia
        ixx="0.00011272201620718"
        ixy="2.28684953755629E-07"
        ixz="-1.25670676105189E-07"
        iyy="0.000234682185717791"
        iyz="-3.1326530601045E-07"
        izz="0.000152969661912388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftSensor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftSensor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftSensor_joint"
    type="fixed">
    <origin
      xyz="-0.0012639 -0.613 -0.1381"
      rpy="0 0 0" />
    <parent
      link="leftArm_link" />
    <child
      link="leftSensor_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="leftHand_link">
    <inertial>
      <origin
        xyz="-0.00282763938411401 -0.0913738684076306 -0.00640570705233923"
        rpy="0 0 0" />
      <mass
        value="0.307600132223361" />
      <inertia
        ixx="0.000243313245532066"
        ixy="-7.94027582350652E-07"
        ixz="7.17842653624643E-07"
        iyy="0.000131396947198341"
        iyz="-3.51321952466878E-06"
        izz="0.000175357245706032" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftHand_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftHand_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftHand_joint"
    type="fixed">
    <origin
      xyz="-0.00021023 -0.0865 0"
      rpy="0 0 0" />
    <parent
      link="leftSensor_link" />
    <child
      link="leftHand_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rightArm_link">
    <inertial>
      <origin
        xyz="-0.00233853451153498 -0.204116912516539 0.115233100594199"
        rpy="0 0 0" />
      <mass
        value="0.900257901077131" />
      <inertia
        ixx="0.00123079948273786"
        ixy="3.6171425617863E-05"
        ixz="1.08478778746649E-06"
        iyy="0.000460478018052299"
        iyz="7.31977418708867E-06"
        izz="0.00112927665736642" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightArm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightArm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightArm_joint"
    type="revolute">
    <origin
      xyz="0.0073775 0.42752 0.1076"
      rpy="0 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="rightArm_link" />
    <axis
      xyz="0.0016361 0 -1" />
    <limit
      lower="0"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightSensor_link">
    <inertial>
      <origin
        xyz="0.0310964836861436 -0.0407631172972749 0.000274739563998844"
        rpy="0 0 0" />
      <mass
        value="0.238356407740794" />
      <inertia
        ixx="0.000109358451523035"
        ixy="2.20927734350437E-07"
        ixz="-1.25670676106554E-07"
        iyy="0.000228126842592843"
        iyz="-3.13265306009417E-07"
        izz="0.000149606116081088" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightSensor_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightSensor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightSensor_joint"
    type="fixed">
    <origin
      xyz="-0.0017158 -0.613 0.1381"
      rpy="0 0 0" />
    <parent
      link="rightArm_link" />
    <child
      link="rightSensor_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="rightHand_link">
    <inertial>
      <origin
        xyz="-0.00282763843244682 -0.091373865535338 -0.0064057069146001"
        rpy="0 0 0" />
      <mass
        value="0.307600134187615" />
      <inertia
        ixx="0.000243313250064543"
        ixy="-7.94030398514976E-07"
        ixz="7.17846949716406E-07"
        iyy="0.000131396938243936"
        iyz="-3.51321419982362E-06"
        izz="0.000175357262905527" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightHand_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightHand_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightHand_joint"
    type="fixed">
    <origin
      xyz="-0.00021023 -0.0865 0"
      rpy="0 0 0" />
    <parent
      link="rightSensor_link" />
    <child
      link="rightHand_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="head_link1">
    <inertial>
      <origin
        xyz="4.94085832321023E-05 -2.06584882667948E-05 0.0209237441027506"
        rpy="0 0 0" />
      <mass
        value="0.053525220001833" />
      <inertia
        ixx="1.40780023634754E-05"
        ixy="-4.22327563356865E-09"
        ixz="-1.41947069700493E-08"
        iyy="1.14772108691464E-05"
        iyz="1.23784522924004E-08"
        izz="8.88001319149579E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint1"
    type="revolute">
    <origin
      xyz="0.0012661 0.5221 0.010591"
      rpy="-1.5708 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="head_link1" />
    <axis
      xyz="0.0024304 0 1" />
    <limit
      lower="0"
      upper="6.28"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_link2">
    <inertial>
      <origin
        xyz="0.00912892714042846 0.0641498702435128 -0.0203712083138798"
        rpy="0 0 0" />
      <mass
        value="0.256259570812732" />
      <inertia
        ixx="0.000360273242687775"
        ixy="7.02823356521686E-06"
        ixz="3.40777771515068E-06"
        iyy="0.000325101173068163"
        iyz="-7.79023440933406E-07"
        izz="6.78023607829033E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint2"
    type="revolute">
    <origin
      xyz="5.1313E-05 -0.021 0.03525"
      rpy="1.5708 0 0" />
    <parent
      link="head_link1" />
    <child
      link="head_link2" />
    <axis
      xyz="-0.0016361 0 1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
</robot>