<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="esrobo_waist_with_head">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000129441396583552 -6.2272289095E-05 -0.0040271419607657"
        rpy="0 0 0" />
      <mass
        value="21.7638613943257" />
      <inertia
        ixx="0.454081742173463"
        ixy="1.28167204675701E-11"
        ixz="-7.47987584787113E-08"
        iyy="0.895403122553941"
        iyz="1.11445830287146E-10"
        izz="1.34925284828622" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.00109627025871673 0.000183356751178559 0.036691204506678"
        rpy="0 0 0" />
      <mass
        value="0.107757812286884" />
      <inertia
        ixx="0.000114594535776428"
        ixy="-4.46886769547331E-07"
        ixz="3.062202763908E-07"
        iyy="0.000116461362113387"
        iyz="8.53460714901355E-09"
        izz="0.000212642925491531" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="fixed">
    <origin
      xyz="0.299141092446627 -0.00804855452219633 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_base">
    <inertial>
      <origin
        xyz="5.74355405036364E-06 0.0415941681202976 0.00888296357620902"
        rpy="0 0 0" />
      <mass
        value="1.29464248262156" />
      <inertia
        ixx="0.00988326066514692"
        ixy="-7.55819820994364E-08"
        ixz="5.42274136244194E-07"
        iyy="0.0124431832133374"
        iyz="-0.00102062149077575"
        izz="0.00658734084974015" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_baseJoint"
    type="fixed">
    <origin
      xyz="-0.156416685832191 0 0"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="waist_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="waist_link1">
    <inertial>
      <origin
        xyz="0.000516542432772216 0.123998463360664 0.0255445312374473"
        rpy="0 0 0" />
      <mass
        value="2.61616405831954" />
      <inertia
        ixx="0.0531693788444992"
        ixy="-0.000149293636074277"
        ixz="-1.73818057791339E-05"
        iyy="0.017121749151421"
        iyz="-0.0041779871420313"
        izz="0.0413433881123609" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint1"
    type="revolute">
    <origin
      xyz="0 0.085004 -0.038804"
      rpy="0 0 0" />
    <parent
      link="waist_base" />
    <child
      link="waist_link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_link2">
    <inertial>
      <origin
        xyz="0.000276453693244694 0.115617426812745 0.00641703249416517"
        rpy="0 0 0" />
      <mass
        value="2.01092959064243" />
      <inertia
        ixx="0.0387456739547507"
        ixy="-7.93834399859092E-05"
        ixz="-6.03351910470656E-06"
        iyy="0.00601594119716479"
        iyz="-0.00249807245716506"
        izz="0.0365983543727459" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint2"
    type="revolute">
    <origin
      xyz="0.0014113 0.33999 0.028215"
      rpy="0 0 0" />
    <parent
      link="waist_link1" />
    <child
      link="waist_link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="waist_link3">
    <inertial>
      <origin
        xyz="-0.00230169393238322 0.284729667972034 0.0133442377350751"
        rpy="0 0 0" />
      <mass
        value="7.46035492035243" />
      <inertia
        ixx="0.0915634203594757"
        ixy="0.00279979072323471"
        ixz="0.00324538394268048"
        iyy="0.0540817972094336"
        iyz="-0.00173986196103794"
        izz="0.0681486472424319" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/waist_link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="waist_joint3"
    type="revolute">
    <origin
      xyz="0.00082778 0.34 0"
      rpy="0 0 0" />
    <parent
      link="waist_link2" />
    <child
      link="waist_link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="leftArm_link">
    <inertial>
      <origin
        xyz="0.00119992681496117 -0.205094344931021 -0.02723327496735"
        rpy="0 0 0" />
      <mass
        value="0.900253820886967" />
      <inertia
        ixx="0.00123043108725506"
        ixy="-3.99068485100618E-05"
        ixz="1.05004750510768E-06"
        iyy="0.000460828760780949"
        iyz="-7.32177349462153E-06"
        izz="0.00112927968651257" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftArm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/leftArm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="leftArm_joint"
    type="revolute">
    <origin
      xyz="0.0078413 0.42849 -0.1744"
      rpy="0 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="leftArm_link" />
    <axis
      xyz="-0.0016361 0 1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="rightArm_link">
    <inertial>
      <origin
        xyz="-0.00219691802934507 -0.205086352884611 0.0272332127735378"
        rpy="0 0 0" />
      <mass
        value="0.900257859569218" />
      <inertia
        ixx="0.00123079931827475"
        ixy="3.61713923418426E-05"
        ixz="1.08477060431628E-06"
        iyy="0.000460477983204649"
        iyz="7.31984255901471E-06"
        izz="0.00112927654584585" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightArm_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/rightArm_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rightArm_joint"
    type="revolute">
    <origin
      xyz="0.0072359 0.42849 0.1956"
      rpy="0 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="rightArm_link" />
    <axis
      xyz="0.0016361 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_link1">
    <inertial>
      <origin
        xyz="4.94085832321023E-05 -2.06584882667948E-05 0.0209237441027506"
        rpy="0 0 0" />
      <mass
        value="0.053525220001833" />
      <inertia
        ixx="1.40780023634754E-05"
        ixy="-4.22327563356864E-09"
        ixz="-1.41947069700491E-08"
        iyy="1.14772108691464E-05"
        iyz="1.23784522924005E-08"
        izz="8.88001319149579E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.866666666666667 0.866666666666667 0.890196078431372 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint1"
    type="revolute">
    <origin
      xyz="0.0012661 0.5221 0.010591"
      rpy="-1.5708 0 0" />
    <parent
      link="waist_link3" />
    <child
      link="head_link1" />
    <axis
      xyz="0.0024304 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="head_link2">
    <inertial>
      <origin
        xyz="0.00912892738605486 0.064149870197775 -0.020371208452796"
        rpy="0 0 0" />
      <mass
        value="0.256259573814006" />
      <inertia
        ixx="0.000360273243792443"
        ixy="7.02823357201576E-06"
        ixz="3.40777772053447E-06"
        iyy="0.000325101173464471"
        iyz="-7.79023970896331E-07"
        izz="6.78023614884709E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://esrobo_waist_with_head/meshes/head_link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="head_joint2"
    type="revolute">
    <origin
      xyz="5.1313E-05 -0.021 0.03525"
      rpy="1.5708 0 0" />
    <parent
      link="head_link1" />
    <child
      link="head_link2" />
    <axis
      xyz="-0.0016361 0 1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
</robot>